<!--
 * @Author: 逗逗飞 wufei@strongdata.com.cn
 * @Date: 2025-07-16 11:16:27
 * @LastEditors: 逗逗飞 wufei@strongdata.com.cn
 * @LastEditTime: 2025-07-16 17:26:13
 * @FilePath: /chatbox/src/renderer/index.web.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-title" content="chatbox" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="chatbox" />
  <title>算大师网页版</title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B365F44W6E"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())
  </script>
  <script defer data-domain="web.chatboxai.app" src="https://plausible.midway.run/js/script.js"></script>
</head>

<body>
  <div id="root">
    <div style="height: 80vh; display: flex; flex-direction: column; justify-content: center; align-items: center">
      <h1 style="font-family: 'Roboto', sans-serif; font-weight: 700; color: #333; margin: 0">Chatbox</h1>
      <p style="font-family: 'Roboto', sans-serif; font-weight: 400; color: #333; opacity: 0.4">loading...</p>
    </div>
  </div>
</body>

</html>